<div class="homepage-links">
  <div mat-ripple class="element" routerLink='/mission'>
    <span><mat-icon color="warn">how_to_reg</mat-icon></span>
    <span class="mat-display-1">Missions</span>
  </div>
  <div mat-ripple class="element" routerLink='/format'>
    <span><mat-icon color="warn">supervisor_account</mat-icon></span>
    <span class="mat-display-1">Formation</span>
  </div>
  <div mat-ripple class="element" routerLink='/mot'>
    <span><mat-icon color="warn">add_shopping_cart</mat-icon></span>
    <span class="mat-display-1">MOT</span>
  </div>

</div>
