<div class="container">
  <div class="tools">
    <div>
      <button mat-raised-button (click)="addVolunteer()">
        <mat-icon>group_add</mat-icon>
      </button>
      <button mat-raised-button (click)="load()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <mat-form-field>
      <input matInput (keyup)="filterVolunteer()" placeholder="Filtrer" [(ngModel)]="search" name="search-bar">
    </mat-form-field>
  </div>

  <mat-list dense>
    <mat-list-item *ngFor="let volunteer of filteredVolunteers">
      <button mat-raised-button mat-list-icon class="mat-list-left-button" color="warn" (click)="remove(volunteer)">
        <mat-icon>delete</mat-icon>
      </button>
      <div class="mat-list-text">
        <h3 mat-line>{{volunteer.firstname}} {{volunteer.lastname}}</h3>
        <p mat-line>{{volunteer.role | translateRole}} </p>
      </div>
      <span class="list-text"><b><u>Intéressé par:</u></b> {{interestedInString(volunteer)}}</span>
      <p class="missing-summary">{{volunteer.emailAddress}}</p>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary" (click)="edit(volunteer)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
