<h1 mat-dialog-title>Modifier les rôles manquants</h1>
<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item *ngFor="let missingRole of data.missingRoles"
                   role="listitem">
      <div class="role-list">
        <div>
          <button mat-raised-button mat-list-icon class="mat-list-left-button" color="warn"
                  (click)="remove(missingRole)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div><span>{{missingRole.quantity}} {{missingRole.type | translateRole}}</span></div>
      </div>
    </mat-list-item>
  </mat-list>
  <div class="missing-roles-form">
    <mat-form-field style="flex: 1 1 1px;width: 1vw">
      <input matInput placeholder="Quantité" name="quantity" type="number" [(ngModel)]="roleToAdd.quantity" required
             min="1">
    </mat-form-field>
    <mat-form-field style="flex: 4 1 1px; width: 3vw;">
      <mat-select [(value)]="roleToAdd.type">
        <mat-option *ngFor="let role of possibleRoles" [value]="roleTypeEnum[role]">
          {{roleTypeEnum[role] | translateRole}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="flex: 1 1 1px;width: 1vw; align-self: center">
      <button mat-raised-button (click)="addRole()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary"
          cdkFocusInitial>Ok
  </button>
</div>
