.mat-list-left-button {
  width: initial !important;
  height: initial !important;
  font-size: initial !important;
  box-sizing: initial !important;
  border-radius: 4px !important;
  padding: inherit !important;
}

.role-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.missing-roles-form {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  margin: 1em;
}

.mat-dialog-content {
  width: 25vw !important;
}
