<div class="container">
  <form [formGroup]="timeSlotForm">
    <mat-form-field>
      <input matInput [matDatepicker]="fromPicker" placeholder="A partir de" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="startDate.value" [matDatepicker]="toPicker" placeholder="Jusqu'à"
             formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="timeSlotForm.invalid">La date de fin doit être après la date de début.</mat-error>
    Charger les missions locales sur
    <mat-form-field style="width: 2em;">
      <input matInput [min]="0" placeholder="jours" type="number"
             formControlName="addedDaysForLocalMissions">
    </mat-form-field>
    supplémentaires.
  </form>
  <button mat-raised-button (click)="getMissions()">Charger les missions</button>
  <button mat-raised-button color="primary" *ngIf="activities" (click)="sendRecap()">Envoyer le recap</button>


  <mat-card *ngIf="activities" class="mission-card">
    <mat-card-header>
      <mat-card-title>Les missions locales</mat-card-title>
      <mat-card-subtitle>DPS, réseaux et autres réunions de l'UL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="localMissions.size === 0">
        <span><i>Pas d'activités pertinentes sur la période sélectionnée</i></span>
      </div>
      <div *ngFor="let day of localMissions | keyvalue">
        <h2>{{day.key | day}}</h2>
        <mat-list dense>
          <mat-list-item *ngFor="let mission of day.value">
            <button mat-raised-button mat-list-icon class="mat-list-left-button" color="warn"
                    (click)="removeLocal(day.key, mission)">
              <mat-icon>close</mat-icon>
            </button>
            <h3 mat-line style="font-size: 18px;"><b>{{mission.name}} ({{mission.ul}})</b></h3>
            <p mat-line> {{mission | missionHours}} </p>
            <app-missing-summary [mission]="mission"></app-missing-summary>
            <span class="fill-remaining-space"></span>
            <a mat-stroked-button href="https://pegass.croix-rouge.fr/planning-des-activites/activite/{{mission.id}}/"
               target="_blank">Voir sur Pegass</a>
            <!--<button mat-raised-button color="primary" (click)="openDetails(mission)">Voir les détails</button>-->
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="activities" class="mission-card">
    <mat-card-header>
      <mat-card-title>Les missions extérieures</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let day of missionsByDay | keyvalue">
        <h2>{{day.key | day}}</h2>
        <mat-list dense>
          <mat-list-item *ngFor="let mission of day.value">
            <button mat-raised-button mat-list-icon class="mat-list-left-button" color="warn"
                    (click)="remove(day.key, mission)">
              <mat-icon>close</mat-icon>
            </button>
            <h3 mat-line style="font-size:18px;"><b>{{mission.name}} ({{mission.ul}})</b></h3>
            <p mat-line> {{mission | missionHours}} </p>
            <app-missing-summary [mission]="mission"></app-missing-summary>
            <span class="fill-remaining-space"></span>
            <a mat-stroked-button href="https://pegass.croix-rouge.fr/planning-des-activites/activite/{{mission.id}}/"
               target="_blank">Voir sur Pegass</a>
            <!--<button mat-raised-button color="primary" (click)="openDetails(mission)">Voir les détails</button>-->
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

</div>
