<div class="container">
  <form [formGroup]="timeSlotForm">
    <mat-form-field>
      <input matInput [matDatepicker]="fromPicker" placeholder="A partir de" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="startDate.value" [matDatepicker]="toPicker" placeholder="Jusqu'à"
             formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="timeSlotForm.invalid">La date de fin doit être après la date de début.</mat-error>
  </form>
  <button mat-raised-button (click)="getMissions()">Charger les missions</button>
  <button mat-raised-button color="primary" *ngIf="missions" (click)="sendRecap()">Envoyer le recap</button>

  <div *ngFor="let day of missionsByDay | keyvalue">
    <h2>{{day.key | day}}</h2>
    <mat-list dense>
      <mat-list-item *ngFor="let mission of day.value">
        <button mat-raised-button mat-list-icon class="mat-list-left-button" color="warn"
                (click)="remove(day.key, mission)">
          <mat-icon>close</mat-icon>
        </button>
        <h3 mat-line>{{mission.name}} ({{mission.ul}})</h3>
        <p mat-line> {{mission | missionHours}} </p>
        <p class="missing-summary">{{missingSummary(mission)}}</p>
        <span class="fill-remaining-space"></span>
        <a mat-stroked-button href="https://pegass.croix-rouge.fr/planning-des-activites/activite/{{mission.id}}/"
           target="_blank">Pegass</a>
        <button mat-raised-button color="primary" (click)="openDetails(mission)">Voir les détails</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
