<form class="form-container">

  <mat-form-field>
    <input matInput placeholder="Prénom" [(ngModel)]="volunteer.firstname" name="firstname" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nom" [(ngModel)]="volunteer.lastname" name="lastname" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="volunteer.role">
      <mat-option *ngFor="let role of possibleRoles" [value]="role">
        {{role | translateRole}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [(value)]="volunteer.interestedIn" multiple>
      <mat-option *ngFor="let role of possibleInterests" [value]="role">{{role | translateRole}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="addresse mail" [(ngModel)]="volunteer.emailAddress" name="emailAddress"
           required>
  </mat-form-field>

</form>
