.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-sidenav, .mat-sidenav-content {
  padding: 24px;
}

.mat-sidenav {
  height: 100%;
  position: fixed;
  top: 64px;
  padding: 0;
  width: 10%;
}

.sticky-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-list-item-content {
  padding: 0 0;
}

mat-list, mat-list-item, .navigation-button, .mat-drawer-inner-container {
  width: 100%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.cdk-overlay-pane {
  width: 30%;
}

.margined {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
