<mat-toolbar color="primary" class="sticky-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  {{title}}
  <a mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <div class="fill-remaining-space">
    <div style="width: fit-content">
      <span *ngIf="connectedUser">Unité Locale de Paris {{connectedUser.userStructure}}</span>
    </div>
  </div>
  <button *ngIf="!isLoggedIn" (click)="openLoginDialog()" mat-button>Se connecter</button>
  <button *ngIf="isLoggedIn" (click)="logout()" mat-button>Se déconnecter</button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="over" role="navigation">
    <mat-nav-list>
      <span *ngIf="!isLoggedIn" style="padding: 1em">Vous n'êtes pas connecté</span>
      <a (click)="sidenav.toggle()" mat-list-item routerLink='/mission' *ngIf="isLoggedIn">Missions</a>
      <a (click)="sidenav.toggle()" mat-list-item routerLink='/format' *ngIf="isLoggedIn">Formation</a>
      <a (click)="sidenav.toggle()" mat-list-item routerLink='/mot' *ngIf="isLoggedIn">MOT</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
