<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
</mat-form-field>
<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 sticky-header">

    <ng-container matColumnDef="firstname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Prénom - Nom</th>
      <td mat-cell *matCellDef="let volunteer"> {{volunteer.firstname}} {{volunteer.lastname.toUpperCase()}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nivol</th>
      <td mat-cell *matCellDef="let volunteer"> {{volunteer.id}}</td>
    </ng-container>

    <ng-container matColumnDef="upToDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> A jour de formation</th>
      <td mat-cell *matCellDef="let volunteer">
        <mat-icon *ngIf="volunteer.upToDate" style="color:green">check</mat-icon>
        <mat-icon *ngIf="!volunteer.upToDate" style="color: red;">clear</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="trainings">
      <th mat-header-cell *matHeaderCellDef> Formations</th>
      <td mat-cell *matCellDef="let volunteer">
        <app-training-details *ngIf="!volunteer.upToDate" [trainings]="volunteer.trainings"></app-training-details>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
