<h1 mat-dialog-title>Préparer les mails</h1>
<mat-dialog-content>
  <form class="example-form">

    <p>Bonjour <i>prénom</i>,</p>

    <mat-form-field>
      <textarea matInput placeholder="Le mot de semaine..." [(ngModel)]="data.header" name="username" required></textarea>
    </mat-form-field>

    <p>Voici les missions de la semaine:</p>
    <p>...</p>

    <mat-form-field>
      <textarea matInput placeholder="Signature" [(ngModel)]="data.footer" required></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary" cdkFocusInitial style="display:block;">
    Se connecter
  </button>
</mat-dialog-actions>
